<div class="container">
    <div>
        <form id="newsForm" #newsForm="ngForm" (ngSubmit)="editNews()">
            <div>
                <h2>Edit news</h2>
            </div>

            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput type="text" id="title" name="tile" [(ngModel)]="news.title" required autofocus/>
            </mat-form-field>
        
            <mat-form-field appearance="fill">
                <mat-label>Description</mat-label>
                <textarea matInput id="description" name="description" [(ngModel)]="news.description" required></textarea>
            </mat-form-field>
        
            <button mat-flat-button color="primary" type="submit" [disabled]="!newsForm.valid">edit</button>
        </form>
    </div>

    <div>
        <form id="changePictureForm" #changePictureForm="ngForm" (ngSubmit)="onChangePicture()">
            <div>
                <h2>Change Picture</h2>
            </div>
            <div id="imgContainer">
                    <img [src]="imageSrc">         
            </div>
            <input type="file" name="picture" id="picture" accept="image/png" (change)="handleNewPicture($event)"> <br/>
            <button mat-flat-button color="primary" [disabled]="file==null" type="submit">change picture</button>
            <button mat-flat-button color="primary" [disabled]="imageSrc==null" (click)="onDeletePicture()" type="button">delete picture</button>
            <button mat-stroked-button color="primary" (click)="cancel()">cancel</button>
        </form>
    </div>
</div>