<div>
    <div class="info">
        <div>
            <img [src]="getImageSrc()" style="width:200px; height: 200px;">
        </div>
        <div style="margin: 20px;">
            <h2>{{celebritie.name}} {{celebritie.surname}} </h2>
            <h3>Place of birth: {{celebritie.placeOfBirth}}</h3>
            <h3>Date of birth: {{celebritie.dateOfBirth | date:"dd MMMM YYYY"}}</h3>
        </div>
    </div>
    
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="color: #3F51B5;">
                Played in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="prod-ul">
            <li *ngFor="let a of actorIn" class="prod-li">
                <div class="prod">
                    <img [src]="getProductionImage(a)" style="width:50px; height: 50px;">
                    <span class="text">
                        <a href="http://localhost:4200/productions/{{a.productionId}}">{{a.title}}</a>
                    </span>                
                </div>

            </li>
        </ul>
        
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="color: #3F51B5;">
                Director in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="prod-ul">
            <li *ngFor="let d of directorIn" class="prod-li">
                <div class="prod">
                    <img [src]="getProductionImage(d)" style="width:50px; height: 50px;">
                    <span class="text">
                        <a href="http://localhost:4200/productions/{{d.productionId}}">{{d.title}}</a>
                    </span>
                </div>
                
            </li>
        </ul>
        
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title style="color: #3F51B5;">
                Screenwriter in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul class="prod-ul">
            <li *ngFor="let s of screenwriterIn" class="prod-li">
                <div class="prod">
                    <img [src]="getProductionImage(s)" style="width:50px; height: 50px;">
                    <span class="text">
                        <a href="http://localhost:4200/productions/{{s.productionId}}">{{s.title}}</a>
                    </span>
                </div>

            </li>
        </ul>
        
    </mat-expansion-panel>
</div>
