<div>
    <div>
        <h2>{{celebritie.name}} {{celebritie.surname}} </h2>
    </div>
    <div>
        <img [src]="getImageSrc()" style="width:200px; height: 200px;">
    </div>
    <div>
        <span>{{celebritie.placeOfBirth}}</span>
        <span>  {{celebritie.dateOfBirth | date}}</span>
    </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Played in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let a of actorIn">
            <img [src]="getProductionImage(a)" style="width:50px; height: 50px;">
            <a href="http://localhost:4200/productions/{{a.productionId}}">{{a.title}}</a>
        </li>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Director in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let d of directorIn">
            <img [src]="getProductionImage(d)" style="width:50px; height: 50px;">
            <a href="http://localhost:4200/productions/{{d.productionId}}">{{d.title}}</a>
        </li>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Screenwriter in
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let s of screenwriterIn">
            <img [src]="getProductionImage(s)" style="width:50px; height: 50px;">
            <a href="http://localhost:4200/productions/{{s.productionId}}">{{s.title}}</a>
        </li>
    </mat-expansion-panel>
</div>
