<mat-toolbar color="primary">
    <div class="container">
        <div class="title">
            <span>{{title}}</span>
        </div>
        <div class="menu">
            <a routerLink="/news" routerLinkActive="active">news</a>
            <a routerLink="/celebrities" routerLinkActive="active">celebrities</a>
            <a routerLink="/films" routerLinkActive="active">films</a>
            <a routerLink="/series" routerLinkActive="active">series</a>
            <a routerLink="/myxfilmx" routerLinkActive="active">my xfilmx</a>
            <a routerLink="/users" routerLinkActive="active">users</a>
            <a routerLink="/countries" routerLinkActive="active">countries</a>
            <a routerLink="/genres" routerLinkActive="active">genres</a>
        </div>
        <div class="account">
            <a routerLink="/account" routerLinkActive="active" *ngIf="isUserAuthenticated()">account</a>
            <a routerLink="/login" routerLinkActive="active" (click)="logout()" *ngIf="isUserAuthenticated()">logout</a>
            <a routerLink="/login" routerLinkActive="active" *ngIf="!isUserAuthenticated()">sign in</a>
        </div>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>

