<button id="addBtn" mat-fab color="accent" (click)="addCelebritie()">
    <mat-icon>add</mat-icon>
</button>

<div id="search">
    <mat-form-field appearance="fill">
        <input matInput (keyup)="search($event.target)" [(ngModel)]="searchTxt" placeholder="search">
    </mat-form-field>
</div>

<table mat-table [dataSource]="celebrities">
    <ng-container matColumnDef="celebritie">
        <td mat-cell *matCellDef="let celebritie" class="row">
            <div class="container">
                <div class="image">
                    <img [src]="getImageSrc(celebritie)">
                </div>
                <div class="content">
                    <div class="first">
                        <h1>{{celebritie.name}} {{celebritie.surname}}</h1>
                    </div>
                    <div class="second">
                        <button mat-flat-button color="accent" (click)="editCelebritie(celebritie.id)">edit</button>
                        <button mat-flat-button color="warn" (click)="deleteCelebritie(celebritie.id)">delete</button>
                        <button mat-flat-button color="primary" (click)="showCelebritie(celebritie.id)">show</button>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let myRowData; columns: ['celebritie']"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" #paginator></mat-paginator>