table {
    width: 100%;
}

.header-cell {
    color: #673ab7;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.content-cell {
    text-align: center;
}

.content-cell button {
    margin-left: 15px;
}

#addBtn {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5%;
    margin-bottom: 5%;
}