<form #newCountryForm="ngForm" (ngSubmit)="addCountry()">
    <div>
        <h2>Add country</h2>
    </div>

    <mat-error *ngIf="countryAlreadyExists">
        Country already exists
    </mat-error>

    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput type="text" name="name" id="name" [(ngModel)]="countryName" required>
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit" [disabled]="!newCountryForm.valid">add</button>
    <button mat-stroked-button color="primary" (click)="cancel()">cancel</button>
</form>
