<div>
    <div>
        <img [src]="getProductionImage()" style="width:200px; height: 200px;">
        <button mat-flat-button color="primary" (click)="removeRate()">X</button>
        <ngx-stars color="purple" [wholeStars]="true" [maxStars]="10" (ratingOutput)="rate($event)"></ngx-stars>
        <mat-radio-group (change)="onStatusChange($event.value)" [(ngModel)]="status">
            <mat-radio-button id="none" [value]="0">None</mat-radio-button>
            <mat-radio-button id="watched" [value]="1">Watched</mat-radio-button>
            <mat-radio-button id="toWatch" [value]="2">To watch</mat-radio-button>
        </mat-radio-group>
        
        <div>
            <span>rate: {{production.rate}}     </span>
            <span>rates: {{production.rateCount}}</span>
        </div>
        <h1 *ngIf="production.isSerie">{{production.title}} ({{production.beginDate | date: 'YYYY'}} - {{production.endDate | date: 'YYYY'}})</h1>
        <h1 *ngIf="!production.isSerie">{{production.title}} ({{production.beginDate | date: 'YYYY'}})</h1>
        <h3>{{production.description}}</h3>
        <h3> production: {{production.countries.join("/")}}</h3>
        <h3> genre: {{production.genres.join("/")}}</h3>
        <h4> {{production.duration}} min.</h4>       
    </div>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Actors
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let a of actors">
            <img [src]="getRoleImage(a)" style="width:50px; height: 50px;">           
            <a href="http://localhost:4200/celebrities/{{getRoleId(a)}}">{{getRoleCelebritie(a)}}</a>
            <h3> {{getRoleName(a)}} </h3>
        </li>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Directors
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let d of directors">
            <img [src]="getCelebritieImage(d)" style="width:50px; height: 50px;">
            <a href="http://localhost:4200/celebrities/{{d.id}}">{{d.name}}  {{d.surname}}</a>
        </li>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Screenwriters
            </mat-panel-title>
        </mat-expansion-panel-header>
        <li *ngFor="let s of screenwriters">
            <img [src]="getCelebritieImage(s)" style="width:50px; height: 50px;">
            <a href="http://localhost:4200/celebrities/{{s.id}}">{{s.name}}  {{s.surname}}</a>
        </li>
    </mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Gallery
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="grid">
        <div class="grid-item"
          *ngFor="let item of photos; let i = index"
          [lightbox]="i"
          [gallery]="galleryId">
          <img [src]="getGalleryImg(item.picture)" style="width:50px; height: 50px;">
        </div>
      </div>
</mat-expansion-panel>
<mat-expansion-panel *ngIf="production.isSerie">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Seasons
        </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-expansion-panel *ngFor="let s of SortedSeasonArray(seasons)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Season {{s.seasonId}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li *ngFor="let e of SortedEpisodArray(s.episods)"> 
                <div>
                    <span>{{e.episodId}}</span>
                    <span>{{e.title}}</span>
                </div> 
            </li>
        </ul>     
    </mat-expansion-panel>   
</mat-expansion-panel>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Comments
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
        <form #addCommentForm="ngForm" (ngSubmit)="addComment()">
            <textarea matInput name="comment" id="comment" [(ngModel)]="comment" required></textarea>
            <button mat-flat-button color="primary" type="submit" [disabled]="!addCommentForm.valid">Comment</button>
        </form>
    </div>
    <ul>
        <li *ngFor="let c of comments">
            <h1>{{c.username}}</h1>
            <h2>{{c.comment}}</h2>
            <button mat-flat-button color="primary" (click)="deleteComment(c.commentId)">delete comment</button>
        </li>
    </ul>
</mat-expansion-panel>
</div>