
<div>
    <input matInput (keyup)="search($event.target)" placeholder="search">
</div>
<table mat-table [dataSource]="users">
    <ng-container matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Picture </th>
        <td mat-cell *matCellDef="let user" class="content-cell"> 
            <img [src]="getImageSrc(user)" style="width:200px; height: 200px;">
        </td>
    </ng-container>

    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Username </th>
        <td mat-cell *matCellDef="let user" class="content-cell"> {{user.username}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef class="header-cell"> Type </th>
        <td mat-cell *matCellDef="let user" class="content-cell"> 
            <mat-radio-group (change)="onTypeChange($event, user)">
                <mat-radio-button value="1" [checked]="user.userType == 1 ? true : false">Normal</mat-radio-button>
                <mat-radio-button value="2" [checked]="user.userType == 2 ? true : false">Employee</mat-radio-button>
                <mat-radio-button value="3" [checked]="user.userType == 3 ? true : false">Manager</mat-radio-button>
            </mat-radio-group>
        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="['picture', 'username', 'type']"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: ['picture', 'username', 'type']"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" #paginator></mat-paginator>