table {
    width: 100%;
}

.header-cell {
    color:#3F51B5;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.content-cell {
    text-align: center;
    color: #3F51B5;
}

.content-cell button {
    margin-left: 15px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.search{
    height: 30px;
    font-size: 20px;
    text-align: center;
}