<button id="addBtn" mat-fab color="accent" (click)="addNews()">
    <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="news">

    <ng-container matColumnDef="news">
        <td mat-cell *matCellDef="let n" class="row">
            <div class="container">
                <div class="image">
                    <img [src]="getImageSrc(n)">
                </div>
                <div class="content">
                    <div class="first">
                        <div>
                            <h1>
                                {{n.title}}
                            </h1>
                        </div>
                        <div>
                            <h3>
                                {{getShortDescription(n.description)}}
                            </h3>
                        </div>
                    </div>
                    <div class="second">
                        <button mat-flat-button color="accent" (click)="editNews(n.newsId)">edit</button>
                        <button mat-flat-button color="warn" (click)="deleteNews(n.newsId)">delete</button>
                        <button mat-flat-button color="primary" (click)="readNews(n.newsId)">read more</button>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <tr mat-row *matRowDef="let myRowData; columns: ['news']"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" #paginator></mat-paginator>