table {
    width: 100%;
}

.header-cell {
    color: #673ab7;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.content-cell {
    text-align: center;
}

.content-cell button {
    margin-left: 15px;
}

#addBtn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 5%;
    margin-bottom: 5%;
}

#search {
    margin-top: 5px;
    width:100%;
    height: auto;
    display:flex;
    justify-content: center;
}